<script lang="ts" setup>
import { computed, reactive, ref } from "vue";
import { Task } from "./models/tasks";
import { mdiCheckBold, mdiDelete, mdiHeart } from "@mdi/js";

const Tasks = computed(() =>
  all.value ? Task.List() : Task.List().filter((t) => !t.done)
);
const all = ref(false);
const task = reactive(new Task());
const addTask = (t) => {
  Task.Add(t);
  Object.assign(task, new Task());
};
const deleteTask = (t) => {
  Task.Delete(t);
};
const toggleDone = (id: number) => {
  Task.toggleDone(id);
};
const toggleFav = (id: number) => {
  Task.toggleFav(id);
};
</script>

<style>
body,
html {
  background: #e0e0e0;
}
.done {
  fill: #48c78e;
}
.fav {
  fill: #f14668;
}
</style>

<template>
  <header></header>
  <main>
    <section class="hero is-info mt-4 py-4 px-4">
      <div class="hero-head">
        <h1 class="title">Add A Task</h1>
      </div>
      <div class="columns hero-body">
        <div class="column is-11">
          <input
            class="input"
            id="title"
            placeholder="Title"
            type="text"
            v-model="task.title"
          />
        </div>
        <div class="column">
          <button
            class="button is-primary"
            :disabled="!task.title"
            @click="addTask(task)"
          >
            Add
          </button>
        </div>
      </div>
    </section>
    <section>
      <div class="columns mt-2">
        <div class="column">
          <div class="field has-addons is-pulled-right">
            <button
              :class="{
                'button control': all,
                'button control is-primary': !all,
              }"
              @click="all = false"
            >
              To Do ({{ Task.Count().Todo }})
            </button>
            <button
              :class="{
                'button control is-primary': all,
                'button control': !all,
              }"
              @click="all = true"
            >
              All ({{ Task.Count().All }})
            </button>
          </div>
        </div>
      </div>
      <div class="card mt-4" :key="i" v-for="(t, i) in Tasks">
        <header class="card-header">
          <p class="card-header-title">
            {{ t.title }}
          </p>
        </header>
        <footer class="card-footer">
          <button class="button card-footer-item" @click="deleteTask(t.id)">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path fill="black" :d="mdiDelete" />
            </svg>
          </button>
          <button
            class="button card-footer-item"
            :class="{ fav: t.fav }"
            @click="toggleFav(t.id)"
          >
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path :d="mdiHeart" />
            </svg>
          </button>
          <button
            class="button card-footer-item"
            :class="{ done: t.done }"
            @click="toggleDone(t.id)"
          >
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path :d="mdiCheckBold" />
            </svg>
          </button>
        </footer>
      </div>
    </section>
  </main>
</template>
